.page-header
  = link_to projects_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Wstecz
  = link_to @project, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Pokaż
  %h1 Edytujesz projekt

= render 'form'
