= simple_form_for @<%= singular_table_name %>, :html => { :class => "form-horizontal", :role => "form" } do |f|
<% for attribute in attributes -%>
  = f.input :<%= attribute.name %>
<% end -%>
  = f.button :submit
