/*
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bourbon";

@import "projects";
@import "home";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 60px 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.slim-centred-form {
  width: 300px;
  margin: 0 auto;

  h2.form-title {
    text-align: center;
  }
}

form {
  .form-group.boolean {
    .controls {
      input[type=checkbox] {
        margin-right: 10px;
      }
    }
  }
}

// Nested form inputs
.nested-fields .form-group {
    margin-right: 0;
}
