body.home-controller {
  &.index-action {
    .jumbotron {
      color: white;
      text-shadow: 0px 0px 2px #666;
      background-image: asset-url('jumbotron.jpg');
      background-position: center center;
      padding: 150px;
    }

    a {
      text-decoration: none;
    }
  }
}