body.home-controller {
  &.index-action {
    .jumbotron {
      position: relative;
      color: white;
      //text-shadow: 0px 0px 2px #666;
      background-image: asset-url('background.jpg');
      background-position: center center;
      padding: 100px;
      z-index: 1;
      p {
          font-weight: 400;
          font-size: 32px;
          text-shadow: 1px 1px 2px #5c5c5c;
      }
      h1 {
          font-size: 128px;
          text-shadow: 1px 1px 2px #5c5c5c;
      }
    }

    a {
      text-decoration: none;
    }

    .thumbnail > img {
      width: 600px;
      height: 350px;
    }

    .subtle-overlay {
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.2);
    }
 }
}
