// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.projects-controller {
  &.show-action {
    .project-heading {
      @include display(flex);

      .title {
        @include flex-grow(1);

        @extend h1;
        @extend .media-heading;

        display: inline-block;
      }

      .rating {
        @include align-self(center);
        @include flex-shrink(0);

        display: inline-block;
        margin-left: 10px;
      }
    }

  	.map {
  	  width: 100%;

  	  #map-canvas {
    		border: 1px solid #333;
    		border-radius: 5px;
    		width: 100%;
    		height: 250px;
    		background: #aaa;
  	  }
  	}

    .tags {
      margin-bottom: 20px;

      .label {
        margin-right: 10px;
      }
    }

    #comments {
      .media {
        @include display(flex); 

        .media-left {
          @include flex-shrink(0);
        }

        .media-body {
          @include flex-grow(1);
        }
      }
    }
  }

  &.index-action {
    .search-sort-by-type {
      #s2id_search-sort-by-type {
        width: 200px;
      }
    }

    .project-search {
      .filters {
        .filter-by-tags {

        }

        .facet {
          @include display(flex);

          .facet-term {
            @include flex-grow(1);
          }

          .facet-details {
            @include flex-shrink(0);

            .facet-count {
              // @include align-self()
              @extend .label;
              @extend .label-default;

              margin-right: 20px;
            }

            .facet-remove {
              font-size: 14px;
              width: 16px;
              height: 16px;
              display: inline-block;
              line-height: 16px;
              text-align: center;
            }
          }

          &.active {
            .facet-term {
              font-weight: bold;
            }

            .facet-details {
              .facet-count {
                @extend .label-primary;
              }
            }
          }
        }
      }
    }

    .projects {
      .project {
        @extend .media;
        
        .project-image {
          @extend .media-left;

          // img {
          //   height: 100%;
          //   width:  auto;
          // }
        }

        .project-details {
          @extend .media-body;

          width: 100%;

          .project-heading {
            @include display(flex);

            .title {
              @include flex-grow(1);

              @extend h2;
              @extend .media-heading;

              display: inline-block;
            }

            .rating {
              @include align-self(center);
              @include flex-shrink(0);

              display: inline-block;
              margin-left: 10px;
            }
          }

          .read-more {
            @extend .pull-right;

            margin-right: 30px;
          }
        }
      }
    }
  }
}