.stars
  .wholes
    - wholes.times do
      = link_to_if url, fa_icon('star', class: 'starclr'), url
  - if halfs > 0
    .halfs
      - halfs.times do
        = link_to_if url, fa_icon('star-half-full'), url
  .empties
    - empties.times do
      = link_to_if url, fa_icon('star-o'), url
