- id = 0
.stars
  - wholes.times do
    = link_to_if url_block, '<i></i>'.html_safe, url_block.try(:call, id), :class => 'star whole', **url_kwargs
    - id += 1
  - if halfs > 0
    - halfs.times do
      = link_to_if url_block, '<i></i>'.html_safe, url_block.try(:call, id), :class => 'star half', **url_kwargs
      - id += 1
  - empties.times do
    = link_to_if url_block, '<i></i>'.html_safe, url_block.try(:call, id), :class => 'star empty', **url_kwargs
    - id += 1
